<h2><%= 会員情報編集</h2>

<table class="table table-hover table-inverse">
  <tbody>
    <%= form_with model: [:admin, @customer], local:true do |f| %>


    <tr>
      <td>
        会員ID
        <%= @customer.id %>
      </td>
    </tr>

    <tr>
      <td>
        氏名
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
      </td>
    </tr>

    <tr>
      <td>
        フリガナ
        <%= f.text_field :first_name_kana %>
        <%= f.text_field :last_name_kana %>
      </td>
    </tr>

    <tr>
      <td>
        郵便番号
        <%= f.text_field :postal_code %>
      </td>
    </tr>

    <tr>
      <td>
        住所
        <%= f.text_field :adress %>
      </td>
    </tr>

    <tr>
      <td>
        電話番号
        <%= f.text_field :telephone_number %>
      </td>
    </tr>

    <tr>
      <td>
        メールアドレス
        <%= f.email_field :email %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.submit "編集内容を保存" %>
        <%= link_to "退会する", customer_registration_path method: :delete %>
      </td>
    </tr>

    <% end %>

  </tbody>

</table>


