<div class="container">
  <div class="row">
    <div class="col-4 pt-3">
      <h4 class="table-active">
        <div style="text-align: center"><%= "#{@customer.last_name} #{@customer.first_name}" %>さんの会員情報編集</div>
      </h4>
    </div>
  </div>

  <% if @customer.errors.any? %>
    <%= @customer.errors.count %>件のエラーが発生しました
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <table class="table table-borderless">
    <%= form_with model: [:admin, @customer], local:true do |f| %>

     <div class="row">
      <tr>
        <th class="col-2 py-2 pr-4">会員ID</div>
        <td>
          <%= @customer.id %>
        </td>
      </tr>
    </div>

    <div class="row">
      <tr>
        <th class="col-2 py-2 pr-4">氏名</th>
        <td>
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %>
        </td>
      </tr>
    </div>

    <div class="row">
      <tr>
        <th class="col-2 py-2 pr-4">フリガナ</div>
        <td>
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %>
        </td>
      </tr>
    </div>

    <div class="row">
      <tr>
        <th class="col-2 py-2 pr-4">郵便番号</div>
        <td>
          <%= f.text_field :postal_code %>
        </td>
      </tr>
    </div>

    <div class="row">
      <tr>
        <th class="col-2 py-2 pr-4">住所</div>
        <td>
          <%= f.text_field :address, size: "60x20" %>
        </td>
      </tr>
    </div>

    <div class="row">
      <tr>
        <th class="col-2 py-2 pr-4">電話番号</div>
        <td>
          <%= f.text_field :telephone_number %>
        </td>
      </tr>
    </div>

    <div class="row">
      <tr>
        <th class="col-2 py-2 pr-4">メールアドレス</div>
        <td>
          <%= f.email_field :email %>
        </td>
      </tr>
    </div>
  </div>

    <div class="row p-3">
    <tr>
      <th class="col-2 py-2 pr-4">会員ステータス</th>
      <td>
        <%= f.radio_button :is_active, :true %>
        <spam>有効</spam>
        <%= f.radio_button :is_active, :false %>
        <span>退会</span>
      </td>
    </tr>
    </div>

  <div class="row pt-3">
      <tr>
        <th class="col-2 py-2 pr-4"></th>
        <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
    </div>
  </table>

    <% end %>
