<div class="container">
  <div class="row">
    <div class="col-4 p-3">
      <h4 class="table-active">
        <div style="text-align: center"><%= "#{@customer.last_name} #{@customer.first_name}" %>さんの会員詳細</div>
      </h4>
    </div>
  </div>


  <table class="table table-borderless">
    <div class="row">
      <tr>
        <th class="col-2 p-2">会員ID</th>
        <td>
          <%= @customer.id %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2">氏名</th>
        <td>
          <%= @customer.first_name %>
          <%= @customer.last_name %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2">フリガナ</th>
        <td>
          <%= @customer.first_name_kana %>
          <%= @customer.last_name_kana %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2">郵便番号</th>
        <td>
          <%= @customer.postal_code %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2">住所</th>
        <td>
          <%= @customer.address %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2">電話番号</th>
        <td>
          <%= @customer.telephone_number %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2">メールアドレス</th>
        <td>
          <%= @customer.email %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2">会員ステータス</th>
        <td>
          <%= @customer.is_active %>
        </td>
      </tr>

      <tr>
        <th class="col-2 p-2"></th>
        <td>
          <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
        </td>
      </tr>
    </div>
  </table>


</div>