<table class="table table-hover table-inverse">

  <%= form_with model: @address, url: public_addresses_path, local:true do |f| %>

  <tr>
    <td>
      郵便番号(ハイフンなし)
      <%= f.text_field :postal_code %>
    </td>
  </tr>

  <tr>
    <td>
      住所
      <%= f.text_field :address %>
    </td>
  </tr>

 <tr>
    <td>
      宛名
      <%= f.text_field :name %>

      <%= f.submit "変更内容を保存" %>
    </td>
  </tr>

  <% end %>

</table>