<div class="container">

  <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーが発生しました
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row pt-5">
    <div class="col-md-4">
      <%= image_tag @item.image, size: "200x150" %>
    </div>

    <div class="col-md-5">
      <table>
        <tr>
          <td>
            <h4><strong><%= @item.name %></strong></h4>
          </td>
        </tr>

        <tr>
          <td>
            <%= @item.introduction %>
          </td>
        </tr>

        <div class="d-flex align-items-end pt-3">
          <tr>
            <td>
              ¥<%= (@item.price*1.1).floor %>(税込)
            </td>
          </tr>

          <tr>
            <td>
              <%= form_with model: @cart_item, url: cart_items_path, method: :post, local:true do |f| %>
                <%= f.select :amount, *[1..10], { include_blank: '個数選択' } %>
                <%= f.hidden_field :item_id, :value => @item.id  %>
                <%= f.submit "カートに入れる",class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </div>
      </table>
    </div>
  </div>
</div>