<%= image_tag @item.image, size: "200x200" %>

<table class="table table-hover table-inverse">
  <tbody>

    <tr>
      <td>
        <%= @item.name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= @item.introduction %>
      </td>
    </tr>

    <tr>
      <td>
        ¥<%= (@item.price*1.1).floor %>(税込)
      </td>
    </tr>

    <tr>
      <td>
        <%= form_with model: @cart_item, url: public_cart_items_path, method: :post, local:true do |f| %>
          <%= f.select :amount, *[1..10], { include_blank: '個数選択' } %>
          <%= f.hidden_field :item_id, :value => @item.id  %>
          <%= f.submit "カートに入れる" %>

        <% end %>

      </td>
    </tr>


  </tbody>