<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="border border-bottom border-dark">


      <div class="d-flex flex-wrap bd-highlight mb-3">

        <div class="mr-auto pl-5 bd-highlight">
          <a class="navbar-brand p-3" href="/">
              <%= image_tag('cake.jpg', size:"100x80") %>
          </a>
        </div>


        <% if admin_signed_in? %>

          <div class="p-2 bd-highlight">
            <%= link_to admin_items_path, class: "nav-link active" do %>
              <button type="button" class="btn btn-outline-secondary">商品一覧</button>
            <% end %>
          </div>

          <div class="p-2 bd-highlight">
            <%= link_to admin_customers_path, class: "nav-link active" do %>
              <button type="button" class="btn btn-outline-secondary">会員一覧</button>
            <% end %>
          </div>

            <div class="p-2 bd-highlight">
              <%= link_to admin_orders_path, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">注文履歴一覧</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to admin_genres_path, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">ジャンル一覧</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to destroy_admin_session_path,method: :delete, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">ログアウト</button>
              <% end %>
            </div>

        <% elsif customer_signed_in? %>

          <div class="center-block pt-5 pr-5">
            ようこそ<%= current_customer.last_name %><%= current_customer.first_name %>さん！
          </div>

            <div class="p-2 bd-highlight">
              <%= link_to customer_path(current_customer), class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">マイページ</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to items_path(current_customer), class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">商品一覧</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to cart_items_path(current_customer), class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">カート</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
             <%= link_to destroy_customer_session_path,method: :delete, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">ログアウト</button>
              <% end %>
              </div>

        <% else %>

            <div class="p-2 bd-highlight">
              <%= link_to about_path, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">About</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to items_path, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">商品一覧</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to new_customer_registration_path, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">新規登録</button>
              <% end %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to customer_session_path, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">ログイン</button>
              <% end %>
            </div>

        <% end %>


        <form class="p-2 bd-highlight">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>

      </div>



    </header>

    <%= yield %>


    <footer class="border-top border-dark"></footer>
  </body>
</html>
